*   {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navbar {
    position: fixed;
    width: 100%;
    background-color: #566246;
    color: #d8dad3;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.website-title {
    margin-left: 15px;
}

.navigation-links {
    align-self: center;
    margin-right: 15px;
}

.navigation-links > a {
    margin: 0 10px;
    text-decoration: none;
    color: #F7C548;
}

#welcome-section {
    width: 100%;
    padding: 70px 0;
    margin: 30px 0;
    background-color: #4A4A48;
    color: #f1F2EB;
}

.welcome-msg {
    text-align: center;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 0;
}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: #e3a018;
    color: #daf5f0;
    border-radius: 15px 0;
    margin: 0 10px;
}

.project-name {
    align-self: center;
}

.project-img {
    width: 100px;
    height: auto;
    align-self: center;
}

.link-container {
    display: flex;
    gap: 10px;
    align-self: center;
}

.link {
    text-decoration: none;
    color: #daf5f0;
}

.link:active {
    color: black;
}